
    .header {
        position: fixed;
        top: 0;              /* 👈 REQUIRED */
        left: 0;             /* 👈 REQUIRED */
        width: 100%;         /* 👈 REQUIRED */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        background-color: var(--bg);
        color: var(--text);
        z-index: 1000;       /* 👈 stays above content */
    }

    .left-section
    {
        margin-left: 20px;
    }
    .left-section, p{
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
    }




    .right-section
    {
        margin-right: 20px;
    }

#colorBtn {
  background: none;
  border: none;
  cursor: pointer;

  font-size: 28px;

  /* THIS is the key */
  color: inherit;
}
