.app {
  background-color: var(--bg);
  color: var(--text);
  /* min-height: 100vh; */
      height: 100vh;
}

[data-theme="light"] {
  --bg: var(--background-light);
  --text: var(--on-text-light);
  --subText: var(--on-surface-variant-light)

  
}

[data-theme="dark"] {
  --bg: var(--background-dark);
  --text: var(--on-text-dark);
  --subText: var(--on-surface-variant-dark)
}
