.about-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 30px;
    border-radius: var(--shape-corner-large);
    height: fit-content;
    box-shadow: 0px 1px 1px 1px  var( --outline-variant-dark);
 

   
}


.cart-text {
  padding-top: 8px;
  margin-top: 1px;
  border-top: 1px solid var(--outline-variant-dark);
  font-weight: 300;
  font-size: var(--wp--preset--font-size--normal);
  text-align: left;
  max-width: 400px;
  align-self: stretch;
  line-height: 1.5;
  color: var(--text);
}


.cart-title
{
  font-size: var(--title-large);
}

.about-list
{
  margin-left: -15px;
}

.list-item
{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
}
.list-item a{
  text-decoration: none;
  font-size: var(--wp--preset--font-size--normal);
  color: var(--linkText);
  font-weight: 400;
}

.label-small
{
  font-size: var(--wp--preset--font-size--normal);
  color: var(--linkText);
  font-weight: 400;
}