
:root {
    /* 🌗 BACKGROUND (whole page) */
    --background-dark: hsl(36, 27%, 78%);
   
    --background-light: hsl(293, 100%, 98%);


    /* text  */
    --on-text-dark: hsl(264, 8%, 12%); /* orange-red, too aggressive for body text */
;
    --on-text-light: hsl(264, 27%, 27%);

   /* card, header, slidebar, modals  start */

    /* 🧱 SURFACE (cards, sections, panels)  */
    --surface-dark: hsl(260, 14%, 8%);
    --on-surface-dark: hsl(280, 17%, 90%);
    --surface-light: hsl(293, 100%, 98%);
    --on-surface-light: hsl(264, 8%, 12%);

    /* Slight contrast card */
    --surface-container-dark: hsl(257, 10%, 14%);
    --surface-container-light: hsl(276, 38%, 95%);
    /* Very subtle container */
    --surface-container-low-dark: hsl(264, 8%, 12%);
   --surface-container-low-light: hsl(278, 44%, 96%);

   /* card, header, slidebar, modals  end */
    /* 📝 TEXT TYPES (VERY IMPORTANT)
        Main text */
 /* color: var(--on-background-light); */
/* or */
/* color: var(--on-surface-light); */
    /* Secondary / description text */
    --on-surface-variant-light: hsl(270, 14%, 17%);
    --on-surface-variant-dark: hsl(264, 7%, 29%);

    /* Muted / helper text */
    --outline-dark: hsl(264, 5%, 58%);
    --outline-light: hsl(270, 4%, 47%);


    /* button  */
    /* dark  */
    --primary-dark: rgb(2, 120, 83);
    --on-primary-dark: hsl(260, 36%, 95%);
    /* light  */
    --primary-light: hsl(256, 34%, 48%);
    --on-primary-light: hsl(0, 0%, 100%);

    /* Secondary / outlined button */
    /* background: transparent;
   color: var(--primary-light);
  border: 1px solid var(--outline-light); */


  /* 📦 BORDERS & DIVIDERS */
    
    --surface-bright-dark: hsl(270, 5%, 23%);
    --outline-variant-dark: hsl(264, 7%, 29%);
    --surface-bright-light: hsl(293, 100%, 98%);
    --outline-variant-light: hsl(270, 11%, 79%);

    --base-font-size: 62.5%;
    --display-large: 5.7rem;
    --display-medium: 4.5rem;
    --display-small: 3.6rem;
    --headline-large: 3.2rem;
    --headline-medium: 2.8rem;
    --headline-small: 2.4rem;
    --title-large: 2.5rem;
    --title-medium: 1.9rem;
    --title-small: 1.6rem;
    --label-large: 2rem;
    --label-medium: 1.6rem;
    --label-small: 1.4rem;
    --body-large: 1.8rem;
    --body-medium: 1.6rem;
    --body-small: 1.4rem;
    --weight-regular: 400;
    --weight-medium: 500;
    --shape-corner-extra-small: 4px;
    --shape-corner-small: 8px;
    --shape-corner-medium: 12px;
    --shape-corner-large: 16px;
    --shape-corner-full: 500px;
    --shape-corner-circle: 50%;
    /* --elevation-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d; */
    --section-padding: 24px;
    --top-bar-height: 62px;
    --motion-duration-short-1: 100ms;
    --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
}
:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}

html {
    font-family: var(--font-secondary);
    font-size: var(--base-font-size);
    scroll-behavior: smooth;
}
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
        
 font-family: "Poppins", sans-serif;

}


  .material-symbols-outlined {
      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
      font-size: 27px;
      color: var(--primary-dark);
      cursor: pointer;
    }